html {
  height: 100vh;
  max-height: -webkit-fill-available;
}

body {
  height: 100vh;
  max-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  background-color: #313131;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.footer {
  padding: 2rem;
}

.main-footer {
  display: flex;
  gap: 1rem;
}

#main {
  flex: 1;
  flex-direction: column;
  display: flex;
  padding: 2rem;
}

.hidden {
  display: none !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.no-cards {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-cards h2 {
  text-align: center;
  max-width: 80%;
}

.cards-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.counter {
  text-align: center;
  font-size: 2.5rem;
}

.button {
  padding: 0;
  cursor: pointer;
  outline: 0;
  border: none;
  background: transparent;
  color: #ffffff;
  font-size: 1.8rem;
  touch-action: manipulation;
}
.button--primary {
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  border: 1px solid #3282B8;
  padding: 2rem;
  background-color: #3282B8;
}
.button--primary:active {
  background-color: #525252;
}
.button--secondary {
  text-transform: uppercase;
  font-weight: 700;
  width: -moz-max-content;
  width: max-content;
}
.button:disabled {
  opacity: 0.5;
}

/* add card panel */
[data-add-card-panel] {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: #525252;
  transform: translateX(100%);
  transition: transform 0.2s ease-in;
  display: flex;
  flex-direction: column;
}
[data-add-card-panel] main {
  flex: 1;
  display: flex;
  align-items: center;
}
[data-add-card-panel] footer {
  overflow: hidden;
  position: relative;
  height: 2.1rem;
  margin: 2rem;
}
[data-add-card-panel] footer .ticker {
  text-transform: uppercase;
  position: absolute;
  left: 0;
  white-space: nowrap;
  animation: 20s ticker infinite linear;
  font-size: 1.8rem;
}
[data-add-card-panel].open {
  transform: translateX(0);
}

/* add card form */
[data-add-card-form] {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
[data-add-card-form] .input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
[data-add-card-form] .input-container input {
  outline: none;
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  font-size: 1.8rem;
  padding: 0.5rem 0;
}
[data-add-card-form] .input-container input::-moz-placeholder {
  color: #ffffff;
  font-size: 1.8rem;
  opacity: 0.5;
  padding: 0.5rem 0;
}
[data-add-card-form] .input-container input::placeholder {
  color: #ffffff;
  font-size: 1.8rem;
  opacity: 0.5;
  padding: 0.5rem 0;
}
[data-add-card-form] > .input-container:not(:first-of-type) {
  margin-top: 4rem;
}
[data-add-card-form] .button {
  margin-top: 6rem;
}

@keyframes ticker {
  0% {
    transform: translate3d(50%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.rendered {
  animation: 0.2s cardChange ease-in;
}

@keyframes cardChange {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* CARD */
.card {
  background-color: transparent;
  width: 100%;
  max-width: 100vw;
  height: 53vh;
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__inner {
  position: relative;
  width: 80%;
  max-width: 350px;
  height: 90%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.card__inner h4 {
  overflow-wrap: anywhere;
}

.card.card__flipped .card__inner {
  transform: rotateY(180deg);
}

.card__front, .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
  padding: 20px;
  font-size: 30px;
  border: 1px solid #ffffff;
  overflow: hidden;
}

.card__front {
  background-color: #3282B8;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card__back {
  background-color: #525252;
  color: #ffffff;
  transform: rotateY(180deg);
}

.voice {
  border-radius: 50%;
  border: 1px solid #ffffff;
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #525252;
}
.voice svg {
  width: 3rem;
}

.card__expression {
  font-size: 1.5rem;
}

/* CARD */
.logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  opacity: 0.2;
}

.banner {
  padding: 2rem;
  text-transform: uppercase;
  text-align: left;
  color: #313131;
}
.banner > span {
  color: #FF4C29;
}/*# sourceMappingURL=main.css.map */